body {
    font-family: monospace;
    color: goldenrod;
    background-image: linear-gradient(to right, white, black);
    height: 100%;
    width: 100%;
}

.navbar {
    background-image: linear-gradient((to left, white, black));
}

#footer {
    position: static;
    bottom: 0;
    text-align: center;
}

button {
    border: 5px, solid, greenyellow;
    border-radius: 25%;
    background-color: aqua;
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

button:hover {
    border: none;
    border-radius: 15%;
    background-color: blue;
    color: goldenrod;
    transform: skew(-10deg);
}

.gif {
    display: inline-block;
    margin: 10px, 10px, 10px, 10px; 
    border: 10px, 10px, 10px, 10px;
}

.rating {
    color: black;
}