body {
    font-family: monospace;
    color: goldenrod;
    background-image: linear-gradient(to right, white, black);
    height: 100%;
    width: 100%;
}

#footer {
    position: absolute;
    bottom: 0;
    text-align: center;
}

button {
    border: 30px, solid, greenyellow;
    border-radius: 25%;
    background-color: aqua;
}

button:hover {
    border: none;
    border-radius: 15%;
    background-color: blue;
    color: goldenrod;
}

.gif {
    display: inline-block;
    margin: 10px, 10px, 10px, 10px; 
    border: 10px, 10px, 10px, 10px;
}

.rating {
    color: black;
}